<a href="https://colab.research.google.com/github/daniruro19/Python/blob/main/ruizDaniel_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**RESUMEN PYTHON FROM SCRATCH by Daniel Ruiz Rodríguez**

# **Introducción**

*1.¿Qué es Python?*

>   Se trata de un lenguaje de programación de alto nivel que no se especializa en ningún área en específico y con una curva de aprendizaje relativamente baja teniendo en cuenta su accesibilidad y fácil lectura.

*2.El comando print* 

> Este comando refleja por pantalla las oraciones que le digamos, variables o incluso las soluciones de expresiones aritméticascon sangría

    print("Buenas tardes")
    print(a, b)

>Los comentarios se indicarán por el símbolo # o triples comillas (""")

# **Tipos de datos y variables**


*1-Números*

> Enteros => Números positivos y negativos sin parte decimal.

    numpos = 10
    numneg = -10

> Decimales 

    numflt = 10.399

> Números complejos => Usaremos la sentencia complex() para crearlos, necesitando dos valores, el primero real y el segundo imaginario.

    complex(10,20)
    print(complex(3.33, -35))

*2-Booleanos*    

> Tipo de dato que puede solo adoptar dos valores: True o False (Con mayúscula la primera letra)

    f_bool = False

*3-Strings*

> Su definición es una serie de caracteres entre comillas, por lo que podemos referirnos a frases como "Voy a comprar el pan".

    print("Buenas tardes")
    strPan="Voy a comprar el pan"
    print(strPan)

    variasLineas='''TEXTO  CON  FORMATO'''

>Para saber la longitud en caracteres de la cadena tenemos la orden len

    string2="Buenas tardes"
    print(len(string2)) = 13

>Si se quiere acceder a un caracter en específico tenemos los índices, números que denotan la posición de un carácter en la cadena

    string2[0]=B
    string2[-1]=s

*4-El tipo none*

>Se trata de un valor que podemos igualar a variables, no hay que confundirlo con el valor 0, con un False o con un null.

    val=None

*5.Segmentar strings*

> Podemos sacar parte del contenido de un string gracias a sus índices.
Se puede realizar por saltos hacia adelante o hacia atrás.

    string[inicio:final:saltos]

In [ ]:
frase="Buenos dias a todos"

print(frase[0:])
print(frase[-1:0:-3])
print(frase[:10])

#casos notables
print(frase[:])
print(frase[::-1])

Buenos dias a todos
soaa n
Buenos dia
Buenos dias a todos
sodot a said soneuB

*6.Cambios de valores en strings*

>Podemos introducir valores a strings usando % seguido de una letra que actuarán como placeholders para el valor que se quiera introducir.

>Estos valores son:
%s para palabras, %i para números enteros y %f para floats (Si se quiere aproximar decimales se escribirá el número de estos ej: %.2f)

In [ ]:
linea1="Que %s hace hoy" % "calor"
print(linea1)

palabra="frio"
linea2= "Ayer no hizo tanto %s" % palabra
print(linea2)

cuenta="%i ** %i = %i" % (2,3,8)
print(cuenta)

aprox="%.3f" % (3.698756)
print(aprox)

Que calor hace hoy
Ayer no hizo tanto frio
2 ** 3 = 8
3.699

*7.Operadores*

>7.1-> Aritméticos

1.   Exponente **
2.   Módulo %
3.   Multiplicación *
4.   División /
5.   División a la baja //
6.   Substracción -
7.   Suma

> La prioridad de las operaciones * / + -

>7.2-> De Comparación

1.   Más que >
2.   Menos que <
3.   Mayor o igual >=
4.   Menor o igual <=
5.   Igualdad ==
6.   No igualdad !=
7.   Es igual/no es igual  is / is not

>Devuelven un valor booleano False o True

>7.3-> De Asignación

1.   Asignación =
2.   Asignar y sumar +=
3.   Asignar y restar -=
4.   Asignar y multiplicar *=
5.   Asignar y dividir /=
6.   Asignar y dividir a la baja //=
7.   Asignar y exponente **=

>7.4-> Lógicos

1.   AND and
2.   OR or
3.   NOT not

> Como dato, el valor de True es considerado 1 mientras que el de False 0, por lo que 10*False=0

>7.5-> A nivel de bits

1.   AND &
2.   OR |
3.   XOR ^
4.   NOT ~
5.   Bit a la izq <<
6.   Bit a la der >>

*8.Operaciones con cadenas (arrays)* 

*   Para concatenar dos cadenas se pueden "sumar"
*   Si se quiere duplicar se puede "multiplicar"
*   Si se quiere saber si una palabra o serie de caracteres están en un string, usar la orden in
*   Se pueden usar los operadores de comparación entre dos cadenas para ver por ejemplo si tienen es mismo numero de caracteres.

In [ ]:
cadena1="Otoño empi"
cadena2="eza el 21 de octubre"

cadena3=cadena1 + cadena2

print(cadena3)

print(cadena3 * 2)

print('Otoño' in cadena1)

Otoño empieza el 21 de octubre
Otoño empieza el 21 de octubreOtoño empieza el 21 de octubre
True

Se pueden rellenar los arrays con diferentes valores, estos ocuparán un sitio dentro de él, siendo el primero el 0.

In [ ]:
lista=["tractor",2,"patatas",False]
print(lista[0] + " y " + lista[2])

tractor y patatas

# **Condicionales**

*1.Condicional if*

In [ ]:
num= 9

if num == 1 :
  print("El numero es 1")
elif num > 1 and num <=10 :
  print("El numero está entre 1 y 10")
elif num <= 0:
  print("El numero es menor de 1")
else:
  print ("El numero es mayor de 10")

El numero está entre 1 y 10

# **Funciones**

*1.Definir una función*
>Primero que nada, una función es una forma de invocar operaciones con una simple palabra, justo como print y len.

>Para crear una función propia, se usará el comando def.

In [ ]:
def maximum(num1, num2):
  if (num1 > num2):
    return num1
  else:
    return num2

valor1= 1
valor2= 3

valor3=maximum(valor1,valor2)
print(valor3)

3

*2.Funciones para strings*

>Las funciones o métodos para strings se usan de una forma un poco diferente (como métodos de objeto)


1.   Búsqueda =>
    mystring.find(substring,start,end)
    >Nos muestra el índice en el que empieza la cadena de caracteres especificada si existe.

In [ ]:
unstring="Muy buenas tardes"
result=unstring.find("bue")
print(result)

4


2.   Reemplazar=>  mystring.replace
(old_substring,new_substring)
>Podemos sustituir una cadena con otra que indiquemos, si existe la cadena inicial claro está.

In [ ]:
unstring="Muy buenas tardes"
result=unstring.replace("buenas","malas")
print(result)

Muy malas tardes



3.   Cambiar mayus/minus=> mystring.upper()/mystring.lower()

In [ ]:
unstring="Muy buenas tardes"
todoMayus=unstring.upper()
print(todoMayus)

unstring="Muy buenas tardes"
todoMinus=unstring.lower()
print(todoMinus)

MUY BUENAS TARDES
muy buenas tardes



4.   Juntar strings=>newString.join(mystring)
>Este método no une los strings uno detrás de otro, sino que va alternando, puede servir para separar palabras con comas

In [ ]:
mystring="Buenas tardes"
buenString=","
print(buenString.join(mystring))

B,u,e,n,a,s, ,t,a,r,d,e,s



5.   Formateo de strings=>string.format()
>Con este método sustituimos valores indicados para ello dentro de una cadena como placeholders.

In [ ]:
string1="Hoy es {dia} de {mes}.".format(dia=12, mes="octubre")
string2="Mañana será {0} de {1}".format(12, "octubre")

print(string1)
print(string2)

Hoy es 12 de octubre.
Mañana será 12 de octubre

*3.Conversiones de tipos*


1.   int()=> convertir a entero


    print(int("12")*10)
    print(int(20.5))

2.   ord()=> convertir a Unicode


    print(ord('a'))
    print(ord('0'))

3.   float()=>convertir a número con coma flotante


    print(float(24))
    print(float('24.5'))
    print(float(True))

4.   str()=>convertir a cadena


    print(str(12) + '.345')
    print(str(False))
    print(str(12.345) + ' is a string')

5.   bool()=>convertir a booleano


    print(bool(10))
    print(bool(0.0))
    print(bool("Hello"))
    print(bool(""))

*4.Pedir por pantalla*
>Para ello se usará input()

In [ ]:
dia=input("Que día es hoy? ")
print("Hoy es ", dia)

Que día es hoy? Martes
Hoy es  Martes

*5.Funciones Lambda*

>Se trata de una sintaxis única de Python, sirve para definir funciones en una sola línea y para las recursiones (llamar a otra función dentro de otra función)

In [ ]:
funcion=lambda num: "High" if num> 50 else "Low"

print(funcion(39))

Low

*6.Funciones como argumentos*
>Podemos usar las propias funciones que creemos como argumentos, e incluso en su propia creación (es un poco lioso)

In [ ]:
def calculator(operation, n1, n2):
    return operation(n1, n2)  # Using the 'operation' argument as a function


# 10 and 20 are the arguments.
result = calculator(lambda n1, n2: n1 * n2, 10, 20)
# The lambda multiplies them.
print(result)

print(calculator(lambda n1, n2: n1 + n2, 10, 20))

200
30

*7.Recursión de funciones*

In [ ]:
def factorial(n):
    if n==0 or n==1 :
        return 1
    elif n<0 :
        return -1
    else:
       return n*factorial(n-1)

imp=factorial(5)
print(imp)

120

# **Bucles**

*1.El bucle for*

>Para crear un rango para nuestra variable i, podemos usar la orden range(start,end,step)


    for i in range(1,20)

>Si queremos usar listas podemos usar la función range e ir accediendo a todos los índices


    for i in range(1, len(long_lista)):
    long_lista[i]=long_lista[i] * 2

>También podemos ingresar solo el nombre de la lista e irá cogiendo cada valor


    lista_nums=[1,23,24,34,12,2]
    for num in lista_nums:
    if num>18
    mayoresEdad+=1

>Para ejercicios de comparación y coordenadas, podemos anidar dos bucles for, importante decir que el bucle anidado terminará su ejecución por cada iteración del primer bucle


    for n1 in num_list:
    for n2 in num_list: 
    if(n1 != n2):
    if(n1 + n2 == n):
    print(n1, n2)

>Las palabras break y continue nos harán falta para algunos casos. La primera termina el bucle y pasa a la siguiente orden mientras que continue salta a la siguiente iteración del bucle.


>La palabra pass nos permite dejar placeholders para posterior rellenado de código sin que el programa detecte fallos al compilar.

*2.El bucle while*
>Este bucle se mantiene en ejecución hasta que la condición no sea verdadera


    while num > 10:
    print(num)
    num-=1

ALGUNOS EJEMPLOS

In [ ]:
def check_balance(brackets):  # The argument is a string
    num=0
    for i in brackets:
        if i == "[":
            num+=1
        elif i == "]":
            num-=1
        else :
            if num < 0:
                break
    return num == 0

In [ ]:
def check_sum(num_list):
    for i in num_list :
        for j in num_list :
            if i+j == 0 :
                return True
    return False

# **Estructuras de datos**

*1.Listas*
>Las listas son mutables, por lo que podremos modificarlas y añadir nuevos elementos a ellas.


    jon_snow = ["Jon Snow", "Winterfell", 30]
    print(jon_snow[2])
    jon_snow[2] += 3
    print(jon_snow[2])

>Se puede convertir un rango de numeros en una lista


    num_seq = range(0, 10)  
    num_list = list(num_seq)  
    print(num_list)

>Se pueden introducir listas dentro de listas y acceder a ellas


    world_cup_winners = [[2006, "Italy"], [2010, "Spain"],
                     [2014, "Germany"], [2018, "France"]]
    print(world_cup_winners[1])
    print(world_cup_winners[1][1])'Spain'
    print(world_cup_winners[1][1][0]) 

>Para juntar listas basta con sumarlas o usar extend()

    part_A = [1, 2, 3, 4, 5]
    part_B = [6, 7, 8, 9, 10]
    part_A.extend(part_B)
    print(part_A)

>Para añadir elementos al final de una lista usamos append()=> lista.append(nuevoElemento)

    num_list = []  
    num_list.append(1)
    num_list.append(2)
    num_list.append(3)
    print(num_list)

>Para añadirlos en el índice que queramos usamos insert()

    num_list = [1, 2, 3, 5, 6]
    num_list.insert(3, 4) 
    print(num_list)

>Borrar el último elemento es tan fácil como usar el comando pop(), enseñará el elemento borrado antes de hacerlo, así que podremos guardarlo.

    houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"]
    last_house = houses.pop()
    print(last_house)

>Si es un valor específico, usaremos remove()

    houses = ["Gryffindor", "Hufflepuff", "Ravenclaw", "Slytherin"]
    print(houses)
    houses.remove("Ravenclaw")
    print(houses)

>Para buscar el índice de un elemento usaremos lista.index(nombreElemento)

>Para ordenar los valores será sort(), el cuál ordenará alfabéticamente y/o por números.

*2.Tuplas*

>Para crear una tupla, tan fácil como tupla=(1,2,3). Estas se podrán unir con otras mediante el operador +.

>Para anidar tuplas se juntarán en una nueva

    hero1 = ("Batman", "Bruce Wayne")
    hero2 = ("Wonder Woman", "Diana Prince")
    awesome_team = (hero1, hero2)
    print(awesome_team)

>Al igual que con las listas, se puede buscar el índice de un valor con index(nombre), pero para buscar se hará con un in.

    cities = ("London", "Paris", "Los Angeles", "Tokyo")
    print("Moscow" in cities)

>Hay que aclarar que, al contrario que las listas, las tuplas son ininmutables(no se pueden modificar)

*3.Diccionarios*
>En los diccionarios se almacenan parejas llave:valor, que van de dos en dos.

    phone_book = {"Batman": 468426,"Cersei": 237734,Ghostbusters": 44678}

>dict() se puede usar para crear un diccionario, algo así como un constructor de diccionarios.

    empty_dict = dict()
    print(empty_dict)

    phone_book = dict(Batman=468426, Cersei=237734, Ghostbusters=44678)


>Para acceder a valores usaremos diccionario.get(key)

    print(phone_book.get("Ghostbusters"))

>Para añadir entradas será como añadir un nuevo valor a un índice nuevo en un string(Y si ponemos el nombre de una llave ya presente entre [ ], su valor se actualizará).

    phone_book["Godzilla"] = 46394 


>Para borrar se usará del dicc["llave"], también sirven pop() y popitem()

    del phone_book["Batman"]

>Para saber cuanto abarca el diccionario, su longitud, se usará len()

    len(phone_book)

>Se podrá buscar si existe una llave con in.

>Para copiar un diccionario en otro se usará update()

    second_phone_book = {"Catwoman": 67423, "Jaime": 237734, "Godzilla": 37623}
    phone_book.update(second_phone_book)
    print(phone_book)

*4.Sets*
>Para crear un set hay que hacerlo entre { }, pero esta vez no va con parejas(o con set()).


    random_set = {"Educative", 1408, 3.142,(True, False)}

>Para añadir elementos podemos usar add() y update()


    empty_set.add(1)
    print(empty_set)

    empty_set.update([2, 3, 4, 5, 6])
    print(empty_set)

>Borrar elementos será con discard() o remove()

    random_set.discard(1408)
    print(random_set)

    random_set.remove((True, False))
    print(random_set)

>OPERACIONES ESPECÍFICAS DE SET


*   Union=> print(set_A | set_B) O print(set_A.union(set_B))
> Junta todos los valores de ambos sets
*   Intersección=> print(set_A & set_B) O print(set_A.intersection(set_B))
>Solo deja los valores comunes a ambos sets
*   Diferencia=> print(set_A - set_B) O print(set_A.difference(set_B))
>Se queda con el primer set pero borra los valores en los que coincida con el segundo.

*5.Conversiones de estructuras de datos*
>Convertir a lista

    tar_wars_list = list(star_wars_tup) 
    print(star_wars_list)

    star_wars_list = list(star_wars_set) 
    print(star_wars_list)

    star_wars_list = list(star_wars_dict) 
    print(star_wars_list)

>Convertir a tupla

    star_wars_tup = tuple(star_wars_list) 
    print(star_wars_tup)

    star_wars_tup = tuple(star_wars_set) 
    print(star_wars_tup)

    star_wars_tup = tuple(star_wars_dict) 
    print(star_wars_tup)

>Convertir a set

    star_wars_set = set(star_wars_list) 
    print(star_wars_set)

    star_wars_set = set(star_wars_tup) 
    print(star_wars_set)

    star_wars_set = set(star_wars_dict) 
    print(star_wars_set)

>Convertir a diccionario

    star_wars_dict = dict(star_wars_list)
    print(star_wars_dict)

    star_wars_dict = dict(star_wars_tup)
    print(star_wars_dict)

    star_wars_dict = dict(star_wars_set)
    print(star_wars_dict)